#!/usr/bin/make -f																																												
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=COPYING:CHANGES

%:
	dh $@
	#dh $@ --with python2

DESTDIR=$(CURDIR)/debian/personal-backup
BINDIR=usr/bin
CONFDIR=etc

override_dh_auto_install:
#	# Conf file
	install -d -m 0755 -o root -g root $(DESTDIR)/$(CONFDIR)
	install    -m 0755 -o root -g root personal-backup.conf $(DESTDIR)/$(CONFDIR)
	# Bin
	install -d -m 0755 -o root -g root $(DESTDIR)/$(BINDIR)
	install    -m 0755 -o root -g root personal-backup $(DESTDIR)/$(BINDIR)
